/* This file is for your main application css. */
//@import "./phoenix.css";
@import "../node_modules/bulma/bulma.sass";
/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

html,
body {
  background-color: rgb(1, 1, 30);
}

.champ_portrait {
  height: 214px;
}

.champ_divider {
  display: flex;
  max-width: 10px;
}

.champ_select_backer {
  background-color: rgb(23, 23, 46);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.banned {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.red {
  background-color: red;
  height: 50px;
}

.blue {
  background-color: blue;
  height: 50px;
}

.title_team_name {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}

.navbar,
.card_container_backer {
  background-color: rgb(23, 23, 46);
}

.navbar *,
.card_container_backer * {
  color: white;
}

.phx-connected {
  padding-top: 20px;
}

.no_champ_cover {
  object-fit: fill;
}

.banned_overlay {
  margin-top: -84px;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 60%;
}

.champ_tile {
  max-width: 80px;
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
}

.ban_pick_divider {
  height: 5px;
  margin-bottom: 18px;
  margin-top: 6px;
  background: black;
}
